@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  background-color: #0f161c;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: "Anton", sans-serif;
}

.content-container {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  margin-left: 50px;
  margin-right: 50px;
}

.title-container {
  position: fixed;
  top: 40vh;
}

.red-square {
  width: 448px;
  height: 672px;
  background-color: red;
  margin-bottom: 10px;
}